@import url("roboto/stylesheet.css");

body {
	font-family:'RobotoRegular';
}

#okapi-wrapper {
	width: 950px;
	margin: 0 auto;
	padding: 0.5em;
}

.okapi-menu-wrapper {
}

.okapi-nav {
	font-family: sans-serif;
	border-radius: 4px;
	font-weight:bold;
	font-size:1.3em;
	padding:2px 8px;
	background:#222;
	background: -moz-linear-gradient(top, #444444 0%, #222 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #444444 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444444 0%,#222 100%); /* Opera 11.10+ */
	background: linear-gradient(top, #444444 0%,#222 100%); /* W3C */
	border-style: solid;
	border-width: 1px 0;
	border-color: #1a1a1a #1a1a1a #000000;
	box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2);
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 1);
}

.okapi-nav a {
	color: #fff;
	padding:4px 8px;
	margin: 0 3px;
	text-decoration:none;
}

.okapi-nav a:hover, .okapi-nav > a.active {
	color: #000;
	padding: 1px 8px;
	text-shadow: -1px -1px 0 rgba(552, 255, 255, 1);

	background: #E0E0E0;
	background: -moz-linear-gradient(top, #F2F2F2 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #F2F2F2 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F2F2F2 0%,#e0e0e0 100%); /* Opera 11.10+ */
	background: linear-gradient(top, #F2F2F2 0%,#e0e0e0 100%); /* W3C */
	border-style: solid;
	border-radius: 3px;
	border-width: 1px 0;
	border-color: #000 transparent #C9C9C9;

	box-shadow: inset 0px -1px 5px rgba(255,255,255,1);
}

.okapi-nav a > img {
	width: 12px;
}

#okapi-main-content {
	padding: 10px 2px;
}

.okapi-footer {
	padding: 5px 0;
	border-top: 1px solid rgba(200,200,200,1);
	background:#222;
	background: -moz-linear-gradient(top, rgba(230,230,230,0.3) 0%, rgba(200,200,200,0.3) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(230,230,230,0.3) 0%, rgba(200,200,200,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(230,230,230,0.3) 0%, rgba(200,200,200,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, rgba(230,230,230,0.3) 0%, rgba(200,200,200,0.3) 100%); /* Chrome10+,Safari5.1+ */
}

form.okapi-form {
	/* position: relative; */
	padding: 0 4px;
}

form.okapi-form > input[type=text]:focus, form.okapi-form > input[type=password]:focus {
	box-shadow: 0 0 4px hsl(120,0%, 50%);
}

form.okapi-form > input[type=submit] {
	background: hsl(0,0%, 93%);
	background: -webkit-linear-gradient(top, hsl(0,0%,93%) 0%, hsl(0,0%,91%) 100%);
	background: -moz-linear-gradient(top, hsl(0,0%,93%) 0%, hsl(0,0%,91%) 100%);
	background: -o-linear-gradient(top, hsl(0,0%,93%) 0%, hsl(0,0%,91%) 100%);
	background: linear-gradient(top, hsl(0,0%,93%) 0%, hsl(0,0%,91%) 100%);
	border-radius: 4px;
	border: 1px solid;
	border-color: hsl(0,0%,40%) hsl(0,0%,50%) hsl(0,0%,60%);

	box-shadow: inset 0px 1px 0px hsl(0,0%,100%);
	font-size: 1.5em;
	padding: 2px 8px;
	cursor: pointer;

	text-shadow: -1px -1px 0px hsl(0,0%,100%);
	color: hsl(0,0%,30%);
}

form.okapi-form > input[type=submit]:hover {
	background: hsl(120,80%, 50%);
	background: -webkit-linear-gradient(top, hsl(120,70%,45%) 0%, hsl(120,60%,43%) 100%);
	background: -moz-linear-gradient(top, hsl(120,70%,45%) 0%, hsl(120,60%,43%) 100%);
	background: -o-linear-gradient(top, hsl(120,70%,45%) 0%, hsl(120,60%,43%) 100%);
	background: linear-gradient(top, hsl(120,70%,45%) 0%, hsl(120,60%,43%) 100%);
	border-color: hsl(120,30%,40%) hsl(120,50%,40%);

	box-shadow: inset 0px 1px 0px hsl(120,80%,58%), 0px 0px 1px hsl(120,60%, 60%);
	font-size: 1.5em;
	padding: 2px 8px;
	text-shadow: -1px -1px 0px hsl(1200,70%,50%);
}

form.okapi-form > input[type=submit]:active {
	border-color: hsl(120,40%,30%) hsl(120,50%,40%) hsl(120,50%,40%);
	color: hsl(0,0%,30%);
	box-shadow: inset 0px -1px 0px hsl(120,40%,38%);
}

table.okapi-table {
}

tr.okapi-table-row {
	-webkit-transition: all 0.6s ease;
}

tr.okapi-table-row:hover {
	color: hsl(220,80%,20%);

}

tr.okapi-table-row p {
	margin: 0;
}

th.okapi-table-cell, td.okapi-table-cell {

}

.abs_top_right, .abs_top_left {
	position: absolute;
	top: 20px;
}

.abs_top_right {
	right: 10px;
}

.abs_top_left {
	left: 10px;
}
