div#container {
	width: 950px;
	margin: 0 auto;
	padding: 0.5em;
}

nav {
	font-family:arial;
	font-weight:bold;
	font-size:1.2em;
	padding:2px 8px;
	background:#333;
	border:2px solid #858585;
}

nav > a {
	padding:6px 8px;
	text-decoration:none;
	border:2px solid transparent;
	color:#fff;
}

nav a:hover, nav > a.active {
	color: #fff;
	background:#858585;
	border:2px solid #333;
}
